{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Genre</td>
            </tr>
        </thead>
        <tbody>
            {% for post in post2s %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.genre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}